body {
  font-family: Helvetica;
  text-align: center;
}

.title, .links {
  color: White;
}

.title {
  font-size: 70px;
  font-weight: Bold;
}

.links {
  font-size: 18px;
}

.heading {
  font-size: 32px;
  font-weight: Bold;
}

.subheading {
  font-size: 23px;
  font-weight: Bold;
}

p {
  font-size: 13px;
}

.designed {
  font-size: 23px;
  font-weight: Bold;
  color: White;
}

.footer {
  font-size: 11px;
  color: White;
  background-color: dimgray;
}
