body {
  font-family: Helvetica;
  text-align: center;
}

.header {
    background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

h1, .links {
  color: White;
}

h1 {
  font-size: 70px;
  font-weight: Bold;
}

.links {
  font-size: 18px;
}

.heading {
  font-size: 32px;
  font-weight: Bold;
}

.subheading {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 13px;
}

.designed {
  font-size: 23px;
  font-weight: Bold;
  color: White;
    background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

.footer {
  font-size: 11px;
  color: White;
  background-color: dimgray;
  text-align: left;
}

.links2 {
  font-size: 18px;
  color: White;
}
